<div class="navbar-top d-flex align-items-center">
    <div class="ms-auto">
        <div class="dropdown-toggle" href="#" id="profileDropdownMenu" role="button" data-bs-toggle="dropdown">
            Furkan Yılmaz
        </div>
        <ul class="dropdown-menu " aria-labelledby="profileDropdownMenu">
            <li>
                <form asp-controller="Account" asp-action="Logout">
                    <input type="submit" class="dropdown-item text-danger" href="#" value="Çıkış"></input>
                </form>
            </li>
        </ul>
    </div>
</div>
